*{
    border:0px;
    Margin:0px;
}

*{box-sizing: border-box;
}
.nav-container{
 background-color: floralwhite;
    border: 1px solid red;
    min-height: 50px;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}
.logo-container{
    width: 50%;
    border: 1px solid blue;
    display: flex;
}

.logo-container img{
    width: 50px;
    object-fit: cover;
    margin: right 20px;
}

.menu-item-container{
    width: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-item-container{
    text-decoration: none;
}
.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.banner-right-part img{
    width: 400px;
    object-fit: cover;
    margin: right 20px;
}

.banner-left-container{
    width: 50%;
}
.banner-right-container{
    width: 50%;
    display: flex;
}