@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}
.nav-container {
  background-color: #ffffff;
  min-height: 50px;
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
}
.logo-container {
  width: 50%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.logo-container gamer {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}
.gamer {
  color: rgb(235, 127, 163);
}

.logo-container img {
  width: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.menu-item-container {
  width: 50%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item-container {
  text-decoration: none;
}
.follow-part {
  background-color: #d5d0e2;
  color: #3c354f;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.banner-container {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-left-container h2 {
  color: #0b0223;
  text-align: left;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat{
text-align: left;
font-family: Work Sans;
font-size: 80px;
text-transform: uppercase;
}
.sign-in {
  background-color: #f2b3b3;
  padding: 15px 30px;
  border-radius: 5px;
}
.go-rogue {
  background-color: #4ec5f7;
  padding: 15px 30px;
  border-radius: 5px;
}
.banner-left-container h1 {
  background-image: linear-gradient(to bottom, red, blue);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-left-container p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
}
.btn {
  padding: 15px 30px;
  color: white;
  background-color: pink;
  border-radius: 5px;
}
.banner-right-part img {
  width: 400px;
  object-fit: cover;
  margin: right 20px;
}

.banner-left-container {
  width: 50%;
}
.banner-right-container {
  width: 50%;
  display: flex;
}
/* section one end  */

.gamer-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.gamer-container img {
  width: 700px;
  object-fit: cover;
  margin: right 20px;
}
.game-description h1 {
color: #c46aa0;
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.game-description p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
}

.game-description {
  width: 700px;
}
.gamer-btn{
    padding: 15px 30px;
    color: white;
    background-color: pink;
    border-radius: 5px;
    border:none;
}

/* funny video section start */

.funny-video-title {
  margin: 50px auto 30px;
}
.funny-video-span {
  color: pink;
}
.funny-video-title h1 {
  text-align: center;
}
.funny-video-title p {
  text-align: center;
}
.online-game-funny-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.game-corner img{
height: 300px;
}
.game-corner{
  position: relative;
}
.play-button{
  position: absolute;
  height: 30px;
}

/* girl ================================================================= */
.girl-container img{
    height: 365px;
}
.angela{
    display: block;
     margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top:-290px;
    border-radius: 5px;
}

/* girl ================================================ */

/* online 2nd part start */

.online-game-container2 {
  border: 1px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 30px auto; */
}
.play-instant{
color:rgb(235, 95, 118);
}

.online-game-link img {
  width: 400px;
}

.game-app-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-app-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game-start {
  margin-bottom: 20px;
}

.game-app-bottom a:hover {
  color: red;
  border-radius: 15px solid green;
  font-size: large;
  border: 2px solid red;
  padding: 15px 25px;
}
/* ====Footer start==================================== */

.ftr-container {
  max-width: 1400px;
  background-color: rgba(233, 223, 239, 0.891); *
  color: white;
}
.ftr-container h1 {
  color: crimson;
}
.ftr-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 30px;
}
.ftr-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftr-items {
  display: flex;
}
.footer-icon {
  font-size: 40px;
  color: white;
  text-align: center;
  gap: 100px;
 
}

.ftr-menu-bottom {
    flex-direction: row;
    text-decoration: none;
}

/* ======================== */
.ftr-menu-bottom{
  text-align: center;
  word-spacing: 30px;
}
.copy-right{
    text-align: center;
}

.ftr-last{
text-align: center;
text-decoration: none;
margin-bottom: 20px;
padding: 20px;
}
/* Responsive ============================================ */
/* @media screen and (max-width:576px){
  .nav-container {
      max-width: 100%;
   flex-direction: column;
    margin: 0 auto;
  }
 
  .logo-container {
    flex-direction: column;
    max-width: 100%;
  }

  .menu-item-container {
    width: 100%;
    flex-direction: column;
  }
  .banner-container {
  flex-direction: column;  
}
} */
  
  